*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.exterior{
  height: 2em;
  background-color: black;

  color: white;
  box-sizing: border-box;
  width: 100%;
  border-radius: 10px;
  margin-top: 1em;
  margin-bottom: 1em;
}
.relleno{
  height: 2em;
  background-color: red;
  color: white;
  border-radius: 10px;
  padding-left: 1em;
}
