<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <header class="header bg-dark text-white mb-0"   >
    <h1 [routerLink]="['bienvenida']">
      {{ title }}
    </h1>
  </header>

  <nav class="navbar navbar-expand-md navbar-collapse navbar-light mb-4 bg-secondary" >

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/bienvenida']" [routerLinkActive]="['active']">Bienvenida</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/productos']" [routerLinkActive]="['active']">Productos</a>
      </li>
    </ul>
  </nav>

  <router-outlet></router-outlet>
</div>


