
  <td>
    <img [src]="producto.imagenUrl"
         *ngIf="verImagenes"
         [title]="producto.descripcion |uppercase" >
  </td>
  <td [routerLink]="['/productos',producto.id]">{{producto.descripcion}}</td>
  <td (click)="pintarPrecio(i)" >
    {{producto.precio | currency:'EUR'}}
  </td>
  <td> {{producto.disponibilidad |date:'dd/MM/yyyy'}}</td>
  <td>
    <estrellas-rating [numEstrellas]="producto.puntuacion" (numEstrellasCambiadas)="cambioEstrellas($event)" ></estrellas-rating>
  </td>

