<div class="card">
  <div class="card-header bg-primary text-white">
    {{titulo}}
  </div>
  <div class="card-block">
    <div class="table-responsive" *ngIf="productos && productos.length">
      <div class="m-3 row" >
        <label for="busquedaProductos" class="col-6 col-sm-3">Búsqueda:  </label>
        <input [(ngModel)]="filtroBusqueda" type="text" name="busquedaProductos" id="busquedaProductos" class="form-control col-6 col-sm-9 ">
      </div>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>
            <button [ngClass]="{'btn-danger':mostrar,'btn-primary':!mostrar}" (click)="cambiar()" >
             {{textoBoton}}
            </button>
          </th>
          <th>{{cabeceras.descripcion}}</th>
          <th>{{cabeceras.precio}}</th>
          <th>{{cabeceras.disponibilidad}}</th>
          <th>{{cabeceras.puntuacion}}</th>
        </tr>
        </thead>
        <tbody>
          <tr item-producto *ngFor="let producto of productos| filtroProducto:filtroBusqueda;" [producto]="producto" [verImagenes]="mostrar">
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
