<div class="card">
  <div class="card-header bg-primary text-white">
    {{titulo}}
  </div>
  <div class="card-block">
    <div class="table-responsive" *ngIf="productos && productos.length">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>
            <button [ngClass]="{'btn-danger':mostrar,'btn-primary':!mostrar}" (click)="cambiar()" >
             {{textoBoton}}
            </button>
          </th>
          <th>{{cabeceras.descripcion}}</th>
          <th>{{cabeceras.precio}}</th>
          <th>{{cabeceras.disponibilidad}}</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producto of productos;let i=index;">
            <td >
              <img [src]="producto.imagenUrl" [ngStyle]="{'height.px':altoImagen,'display':mostrar?'block':'none'}"  >
            </td>
            <td> {{producto.descripcion}}</td>
            <td (click)="pintarPrecio(i)" >
              {{producto.precio}}
            </td>
            <td> {{producto.disponibilidad}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
