<div class="col-12 row contenido" >
  <div class="col-4">
    <div class="row">
    <div *ngFor="let luchador of luchadores;let i=index" class="col-6 b-0 p-0" >
      <retrato-luchador  [luchador]="luchador" [numLuchador]="i" [indiceSeleccionado]="indiceSeleccionado" (luchadorSeleccionado)="indiceSeleccionado=$event"    ></retrato-luchador>

    </div>

    </div>
  </div>
  <div class="col-8 text-white row" *ngIf="indiceSeleccionado!=-1">
    <div class="col-6">
        <img [src]="getAnimacion()" class="h-100 mh" id="img">
    </div>
    <div class="col-6">
      <h1  class="text-center text-nowrap">
        {{luchadores[indiceSeleccionado].nombre}}
      </h1>

      <atributos-luchador [nombreAtributo]="'Fuerza'" [valorAtributo]="luchadores[indiceSeleccionado].fuerza" ></atributos-luchador>
      <atributos-luchador [nombreAtributo]="'Destreza'" [valorAtributo]="luchadores[indiceSeleccionado].destreza"></atributos-luchador>
      <atributos-luchador [nombreAtributo]="'Vida'" [valorAtributo]="luchadores[indiceSeleccionado].vida"></atributos-luchador>
    </div>


  </div>
  <div class="col-8 text-white row" *ngIf="indiceSeleccionado==-1">
    <h1 class="col-8 text-center text-primary ">
      Seleccione un luchador
    </h1>
  </div>
</div>
